.country {
    fill: #ccc;
    stroke: #555;
    stroke-width: 0.5;
  }  

path.country[data-country="Sudan"] {
  fill: red;
}

path.country[data-country="Kazakhstan"] {
  fill: blue;
}

body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
