.country {
  fill: rgba(76, 207, 76, 0.56);
  stroke: #555;
  stroke-width: 0.5;
}

path.country.start-country {
  fill: red;
}

path.country.end-country {
  fill: blue;
}

:not(.objects) {
  background-color: rgb(160, 208, 238);
}
