#map-container {
  height: calc(100vh - 90px);
  width: 100vw;
  background-color: black;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#Header {
  color: white;
  background-color: #29335C;
  width: 100%;
  height: 58px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#Nav-bar {
  font-size: 36px;
  margin-right: 10px;
}

#Nav-bar i {
  margin-right: 5px;
}

#Title-card {
  display: flex;
  align-items: center;
  padding: 0 10px;
}

#Title-card p {
  font-size: 30px; 
  font-family: "roboto";
}

img {
  margin-right: 10px;
}

svg {
  background-color: #29335C ;
}

.country {
  fill: #A8C686;
  stroke: #555;
  stroke-width: 0.5;
}

path.country.start-country {
  fill: #E4572E;
  transition: fill 0.3s;
  position: relative;
}

path.country.start-country:hover {
  fill: #FF5733;
}

.country.gaveUp {
  fill: black;
  transition: fill 0.3s;
  position: relative;
}

.country.gaveUp:hover {
  fill: gray;
}

.country.guessed {
  fill: #F3A712;
  transition: fill 0.3s;
  position: relative;
}

.country.guessed:hover {
  fill: #FFD700;
}

path.country.end-country {
  fill: #669BBC;
  transition: fill 0.3s;
  position: relative;
}

path.country.end-country:hover {
  fill: #81bfd5;
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  font-family: "roboto";
}
.popup-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "roboto";
}

#close-longer-route {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 12px;
  color: #000;
}

#close-shortest-route {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 12px;
  color: #000;
}

#close-give-up-route {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 12px;
  color: #000;
}

.popup-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  font-family: "roboto";
}

#start-end-countries {
  position: fixed;
  bottom: 10px;
  left: 120px;
  display: flex;
  flex-direction: row;
  font-size: 20px;
  margin-left: 10px;
  font-family: "roboto";
}

#start-country,
#end-country {
  margin-right: 10px;
}

#guess-box-container {
  position: fixed;
  bottom: 10px;
  display: flex;
  flex-direction: row;
  font-size: 20px;
  font-family: "roboto";
}

#buttons-container {
  position: fixed;
  bottom: 10px;
  right: 120px;
  display: flex;
  flex-direction: row;
  font-size: 20px;
  margin-right: 10px;
  font-family: "roboto";
}

#give-up {
  margin-right: 10px;
}

#new-game {
  margin-left: 20px;
}

#guess-input {
  height: 20px;
}

#autocomplete {
  font-family: "roboto";
  position: absolute;
  display: none;
  max-height: 300px;
  height: fit-content;
  width: 145px;
  box-sizing: border-box;
  overflow-y: scroll;
  background-color: white;
  list-style: none;
  bottom: 26px;
  padding: 3px;
  li:hover{
    background-color: lightgray;
    cursor: pointer;
    user-select: none;
  }
  li{
    font-family: "roboto";
    margin-bottom: 3px;
    font-size: 18px;
  }
}

.selected {
  background-color: lightgray;
  color: black;
}

.popup-content {
  text-align: center;
}